<footer class="d-flex flex-column m-3">
    <div class='d-flex justify-content-around p-5'>
        <img src="{{ url_for('static', filename='img/facebook.png') }}" alt="facebook social" height='51' width='51'/>
        <img src="{{ url_for('static', filename='img/instagram.png') }}" alt="instagram social" height='51' width='51'/>
        <img src="{{ url_for('static', filename='img/twitter.png') }}" alt="twitter social" height='51' width='51'/>
    </div>
    <p class='text-center'>&copy; Mercadona</p>
</footer>